body{
    margin: 0%;
    padding: 0%;
  
}

div{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

h1{
    color: white;
    font-size: 10vh;
    font-family: 'Courier New', Courier, monospace;
}

input{
    margin-block-end: 20px;
    margin-block-start: 20px;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: none;
    border-bottom-color: rgb(0, 255, 191);
    border-bottom-width: 3px;
    padding-bottom: 7px;
    font-size: 4vh;
    color: black;
    outline: none;
}

button {
    padding: 20px;
    border-radius: 35px;
    font-size: 17px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    border-color: rgb(0, 255, 191);
    outline: none;
    cursor: pointer;
}


@media all and (max-width: 450px) {
    h1{
        font-size: 27px;
}
    input{
        padding: 2%;
    }
    button{
        padding: 4%;
        font-size: 14px;
    }
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}